@import "tailwindcss";

@tailwind: base;
@tailwind: components;
@tailwind: utilities;

body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  min-height: 100%;
  background: #F6E7D5;
}
h1 {
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: medium;
}

hero {
  display: flex; 
  align-items: center;
  justify-items: center;
  margin:auto;
  gap: 10px;
  width: 100%;
}
.left-container,
.right-container {

  flex: 1fr;
  padding: 20px;
  width: 45%;
  margin: 30px;
  height:100%;
  box-sizing: border-box;
  /*border: 3px solid;*/
}
.divider {
  border: none;
}
.right-container {
  flex: 1;
  padding: 70px;
}


.centered-image {
  max-width: 100%; 
  height: auto;
  border-radius: 35px;
}

.buttons {
    border-radius: 25px;
		border: 2px solid rgb(82, 47, 26);
    height: 45px;
    width: 170px;		
		padding-bottom: 10px;
		padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;;
    background-color: #63574a;
    color: rgb(234, 229, 200);
    }

.button-container {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  /*border: 2px solid;*/
}
