<hero>
	<div class="left-container">
		<h1><b>Premium Engineered Hardwood Flooring Miami</b></h1>
			<h2>Lorem ipsum dolor sit amet, consectetur  elit, sed doDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
			<br>
			<div class="button-container">
				<button class="buttons">Book a Consultation </button>
				<button class="buttons">Our Hardwood products </button>
			</div>
	</div>
	<hr class="divider">
	<div class="right-container">
		<img class="centered-image" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c29mYXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000">
	</div>
</hero>